<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../partials/header_prove09.ejs %>
  </head>
  <body class="container">
    <div class="jumbotron">
      <h1>Postage: $<%= result %></h1>
    </div>
  </body>
</html>
